header{
  height:80px;
  background-color: #07cbc9;
}
header .w1{
  background: #07cbc9;
  padding-left:150px ;
  padding-right: 100px;
}
header .w1 a{
  color: #fff;
  font-weight: 700;
  margin-right: 16px;
}
header .w1 a:hover{
  color: #0000ff;
}
header .w1 nav a:nth-last-child(1){
  margin-right: 0px;
}
/* -------- */
.cb-ba1{
  height: 600px;
  background: url(../images/banner3.jpg)no-repeat;
  background-size: 100% 600px;
  position: relative;
  text-align: center;
}
.cb-ba1 form{
  width: 509px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.cb-ba1 form input,
.cb-ba1 form textarea,
.cb-ba1 form button{
  display: block;
  background: transparent;
  outline: none;
}
.cb-ba1 form input{
  width: 509px;
  height: 43px;
  border: 2px solid#ccc;
  margin-bottom: 20px;
  color: #fff;
  text-indent: 1em;
}
.cb-ba1 form textarea{
  width: 509px;
  height: 119px;
  border: 2px solid#ccc;
  margin-bottom: 20px;
  color: #fff;
  text-indent: 1em;
  line-height: 30px;
}
.cb-ba1 form button{
  width: 127px;
  height: 43px;
  border: 2px solid#ccc;
  background: none;
  margin: auto;
  color: #ccc;
}
.cb-ba1::after{
  content:"" ;
  display: block;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, .5);
}
/* ------- */
.cb-ab h2,
.cb-ab p{
  text-align: center;
}
.cb-ab h2{
  font-size: 56px;
  font-weight: 700;
  margin-top: 40px;
}
.cb-ab .line{
  width: 40px;
  height: 2px;
  background: #07cbc9;
  margin: 10px auto 16px;
}
.cb-ab p{
  color: #797979;
  font-size: 16px;
}
.cb-about-item{
  width: 1200px;
  height: 380px;
  margin: 30px auto 0px;
  background: url(../images/bb3.jpg) no-repeat;
  background-position: center;
  position: relative;
}
.cb-about-item h3{
  font-size: 36px;
  width: 190px;
  text-align: center;
  position: absolute;
  left: 45px;
}
.cb-about-item-info{
  width: 370px;
  height: 246px;
  border: 1px solid #ccc;
  padding: 20px 30px 30px 20px;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  left: 50px;
  top: 105px;
}
.cb-about-item-info p{
  text-align: left;
  color: #000;
  margin-bottom: 16px;
}
.cb-about-item-info button{
  width: 102px;
  height: 45px;
  background: #000;
  color: #fff;
  border: none;
}
div[class^="cb-about-item-x"]{
  width: 238px;
  height: 144px;
  border: 1px solid #07cbc9;
  position: absolute;
  right: 10px;
  text-align: center;
}
.cb-about-item-xfaculty{
  top: 174px;
}
div[class^="cb-about-item-x"]h4{
  font-size: 32px;
  font-weight: 700;
  margin-top: 15px;
}
div[class^="cb-about-item-x"]span{
  font-size: 24px;
}
/* ------ */
.cb-pic-des{
  width: 100%;
  height: 780px;
  background: #07cbc9;
  margin: 100px 0px 50px;
}
.cb-pic-des div{
  width: 25%;
  height:390px;
  float:left;
  padding: 35px 45px 60px;
  color: #fff;
  position: relative;
}
.cb-pic-des div h6{
  font-size: 32px;
  font-weight: 700;
}
.cb-pic-des div p :nth-child(2){
  font-size: 18px;
  margin: 20px 0px;
}
.cb-pic-des div p :nth-child(3){
  font-size: 12px;
}
.cb-pic-des button{
  width: 102px;
  height: 42px;
  background: #000;
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -51px;
  border: none;
}

.cb-pic-des div:nth-child(1){
  background: url(../images/b1.jpg)no-repeat;
  background-size:100% 396px ;
}
.cb-pic-des div:nth-child(3){
  background: url(../images/b2.jpg)no-repeat;
  background-size:100% 396px
}
.cb-pic-des div:nth-child(6){
  background: url(../images/b3.jpg)no-repeat;
  background-size:100% 396px
}
.cb-pic-des div:nth-child(8){
  background: url(../images/b4.jpg)no-repeat;
  background-size:100% 396px
}
.cb-pic-des div:nth-child(2)::after,
.cb-pic-des div:nth-child(4)::after{
  content: "";
  position: absolute;
  top: 50%;
  left: -56px;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-right-color: #07cbc9;
  border-right-width:36px;
}
.cb-pic-des div:nth-child(6)::after,
.cb-pic-des div:nth-child(8)::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-left-color: #07cbc9;
  border-left-width: 36px;
}
/* ------ */
.cb-gallery h2,
.cb-gallery p{
  text-align: center;
}
.cb-gallery h2{
  font-size: 56px;
  font-weight: 700;
  margin-top: 40px;
}
.cb-gallery .line{
  width: 40px;
  height: 2px;
  background: #07cbc9;
  margin: 10px auto 16px;
}
.cb-gallery p{
  color: #797979;
  font-size: 16px;
}
.cb-gallery ul{
  width: 1140px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 60px;
}
.cb-gallery ul li{
  width: 360px;
  height: 304px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cb-gallery ul li:nth-child(3n+3){
  margin-right: 0px;
}
.cb-gallery ul li:nth-child(n+4){
  margin-bottom: 0px;
}
.cb-gallery ul li div{
  height: 64px;
  background: #000;
  color: #fff;
  line-height: 64px;
  padding-left: 20px;
}
footer{
  color: #fff;
  height:80px;
  background-color: #07cbc9;
  text-align: center;
  line-height: 80px;
}